.git
.gitignore

.env
.env.*

venv
.venv

__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

.DS_Store

logs/*
database/*.db
database/*.db-shm
database/*.db-wal
workspace/*

htmlcov
.coverage
build
dist
*.egg-info
